* {
    margin: 0;
}
body {

background-color: #260063;
font-family: "Galano Grotesque Regular", "sans serif";
color: white;
}

a {
    color: white;
}

header {
    height:inherit;    
    color: white;
    margin-left: 70px;
    margin-right: 70px;
    display: flex; justify-content: space-between;align-content: center;align-items: flex-end;
}
.home {
    height: fit-content;
display: flex;justify-content: space-between; 
align-content: flex-end;
align-items: flex-end;
padding: 0;

}

.home a {

height: fit-content
;font-size: 60px;
 margin-left: 0;
    
}

header img {
    padding: 0;
    margin-top: 0;
}
a {
    
    text-decoration: none;
   font-size: 25px;
    margin-left: 80px;
  padding-top: 10px;  
   }

   .main {
    display: flex; justify-content: space-between; align-content: center;align-items: center;
margin-top: 90px;  
margin-left: 70px;
margin-right: 70px;
font-size: 80px;

}

h1 {
    margin-right: 70px;
}

.left{ 
    margin-left: 40px;
margin-top: 50px;
margin-bottom: 20px;}

h6 {
    margin-top: 10px;
}
.right-icones {
    
    display: flex;flex-direction: column;justify-content: space-between;align-content: flex-end;align-items: flex-end;
    margin-right: 40px;
    margin-top: -250px;
}
.right img {
    margin-top: 10px;
}
.right{
    margin-bottom: 20px;
}

.right h6{
    display:flex; justify-content: flex-end;
margin-right: 40px;}
    h6{
        font-size: medium;
    }